# Entorno virtual (por si acaso)
entvi/
entornovirtual/
venv/
*.venv

# Python
__pycache__/
*.pyc
*.pyo

# Base de datos local
db.sqlite3
db.sqlite3-journal

# Media (imágenes subidas por usuarios)
media/

# Archivos estáticos recopilados (si usas collectstatic)
staticfiles/
static/img

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env

# Logs
*.log